backgrounds/
bin/
cache/
cfg/
data/
download/
downloadlists/
fallbacks/
html/
maps/
particles/
resource/
scenes/
clientside_errors.txt
console.log
detail.vbsp
fallbacks_000.vpk
fallbacks_dir.vpk
gameinfo.txt
garrysmod.ver
garrysmod_000.vpk
garrysmod_001.vpk
garrysmod_002.vpk
garrysmod_dir.vpk
lights.rad
map.pack
modelsounds.cache
steam.inf
sv.db

gamemodes/base/
gamemodes/sandbox/
gamemodes/terrortown/

lua/autorun/
lua/derma/
lua/drive/
lua/entities/
lua/includes/
lua/matproxy/
lua/menu/
lua/postprocess/
lua/skins/
lua/vgui/
lua/weapons/
lua/Clockwork.lua
lua/send.txt

settings/presets/
settings/spawnlist_default/
settings/users.txt



